= form_for @balance_request do |f|

  .my-4
    .my-2
      = f.label :status, 'Подтвердить статус платежа'
    .my-2
      = f.select :status, [["-выбрать-", ""], ["Ожидание", :waiting], ["Подтверждено", :completed], ["Отменён", :cancelled] ],
        {}, class: 'form-input-select'
  .my-4
    .my-2
      = f.label :short_comment, 'Комментарий (опционально)'
    .my-2
      = f.text_area :short_comment, class: 'form-input'
  .mt-8
    = f.submit 'Сохранить',  class: 'form-submit'
