

.max-w-full.top_block.text-xs.text-gray-900.font-light.py-2.px-4
  
  %h1.text-xl Запрос баланса
  %p
    = "(ID: #{@balance_request.id})"
  %br

  %br
  = link_to "Подтвердить или отказать", edit_balance_request_path(@balance_request), :class => "underline text-l"
  %br
  %br
  = render 'data'



  %br
  = link_to "<- К списку запросов на изменение баланса", balance_requests_path, :class => "underline"
