.mt-8
  %table.item-card-table
    %tbody
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label ID
        %td.item-card-td= @transaction.id
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Создана в
        %td.item-card-td= @transaction.created_at
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Размер
        %td.item-card-td= @transaction.amount
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Статус платежа
        %td.item-card-td= @transaction.transactionable.try(:payment_status)
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Тип транзакции
        %td.item-card-td= @transaction.transaction_type
