- content_for :main_container do
  .with-sidebar
    %aside
      .sticky-menu
        %ul
          %li
            = link_to users_settings_path, class: action_active?('settings') do
              = fa_icon 'user', class: 'align-middle'
              %span= t('users.sidebar.settings')
          %li
            = link_to users_otp_path, class: controller_active?('otp') do
              = inline_svg_tag('otp-authenticator.svg', class: 'inline-block align-middle', style: 'width: 16px; height: 16px;')
              %span= t('users.sidebar.otp')
          - if current_user.telegram_applications.present?
            %li
              = link_to users_check_job_status_path, class: action_active?('check_job_status') do
                = inline_svg_tag('telegram.svg', class: 'inline-block align-middle', style: 'width: 16px; height: 16px;')
                %span= t('users.sidebar.tg_status')
    %section
      = yield

= render template: 'layouts/application'
