- content_for :main_container do
  = turbo_frame_tag 'content' do
    .card-wrap
      .item-card
        .card-head
          %h1
            Настройки мерчанта
            = "#{@merchant.display_name} (#{@merchant.email})"

        .card-body
          .admins_merchant_content
            .with-sidebar
              %aside
                .sticky-menu
                  %ul
                    %li
                      = link_to merchant_settings_path(@merchant), class: controller_active?('settings'), data: { turbo_action: :advance } do
                        = fa_icon 'user'
                        %span= t('users.sidebar.settings')
                    %li
                      = link_to merchant_account_path(@merchant), class: controller_active?('accounts'), data: { turbo_action: :advance } do
                        = fa_icon 'key'
                        %span= t('users.sidebar.account')
              %section
                .edit_content
                  .form
                    = yield

        .back-link
          = link_to '<- К списку мерчантов', merchants_path

= render template: 'layouts/application'
