%table.items-list-table
  %thead.items-list-thead
    %tr
      %th.items-list-th-mask-id ID
      %th.items-list-th Name
      %th.items-list-th
  %tbody
    - @telegram_bots.each do |telegram_bot|
      %tr
        %td.items-list-td-link
          = link_to telegram_bot.id, telegram_bot_path(telegram_bot), data: { turbo_action: :advance }
        %td.items-list-td= telegram_bot.name     
        
        %td.items-list-td.px-1.w-0
          = link_to telegram_bot, data: { turbo_confirm: 'Вы уверены что хотите удалить бота?', turbo_method: :delete }  do
            .icon-button-red
              = fa_icon 'trash'
        %td.items-list-td.px-1.w-0
          = link_to edit_telegram_bot_path(telegram_bot) do
            .icon-button
              = fa_icon 'pencil'
        %td.items-list-td.px-1.w-0
          = link_to telegram_bot do
            .icon-button-gray
              = fa_icon 'search'