%p
  Перед тем как вписать сюда своё имя пользователя, перейдите по ссылке 
  %a{ href: ENV['TELEGRAM_BOT_LINK'], style: "color: blue;" }
    = ENV['TELEGRAM_BOT_LINK']
  и нажмите Start

= render 'processers/errors'

= simple_form_for @user, url: processers_profile_path, method: :patch do |f|
  = f.input :telegram, label: 'Телеграм', hint: 'Введите свое имя пользователя'
  
  = f.submit 'Сохранить', class: 'form-submit'