= turbo_frame_tag 'content' do
  %section.flex.flex-col
    .card-wrap
      .item-card
        .card-head
          %h1 Фильтр статистики
        = render 'stats_filter'

    .card-wrap
      .item-card
        .card-head
          %h1 Вся статистика
          = link_to t('buttons.export_to_excel'), all_stats_turnover_stats_path(stats_filters: request.params[:stats_filters], format: :xlsx), class: 'form-submit'

    .card-wrap
      .item-card
        .card-head
          %h1 Мерчанты

        = render 'table', merchants: @merchants, filtering_params: @filtering_params

        .card-wrap
          = render 'shared/pagination', pagy: @pagy
