%section.wrap
  .card-wrap
    .item-card
      %h1.mb-4.text-xl Запросы баланса

      .filters-wrap
        .item-card
          %h1.mb-4.text-xl Фильтры
          = render 'shared/staff/balance_requests/filter'

      - if @balance_requests.present?
        %table.items-list-table
          %thead.item-list-thead
            %tr
              %th.items-list-th ID
              %th.items-list-th создано
              %th.items-list-th тип
              %th.items-list-th сумма USDT
              %th.items-list-th статус
              %th.items-list-th криптоадрес
              %th.items-list-th короткий комментарий
              %th.items-list-th пользователь

              %th.items-list-th

          %tbody
            - @balance_requests.each do |br|
              %tr.bg-white.border-b
                %td.items-list-td-link= link_to br.id, br
                %td.items-list-td= br.decorate.formatted_created_at
                %td.items-list-td= br.requests_type
                %td.items-list-td= "#{br.amount} USDT"
                %td.items-list-td= br.status
                %td.items-list-td= br.crypto_address
                %td.items-list-td= br.short_comment
                %td.items-list-td= br.user.decorate.audit_user_info

                %td.items-list-td.px-1.w-0
                  = link_to br do
                    .icon-button-gray
                      = fa_icon 'arrow-right'
      - else
        .empty-list-text
          Запросов пока нет
      .card-wrap
        = render 'shared/pagination', pagy: @pagy
