%section.wrap
  .card-wrap
    .item-card
      %h1.mb-4.text-xl Транзакции

      %table.items-list-table
        %thead.item-list-thead
          %tr
            %th.items-list-th ID
            %th.items-list-th создано
            %th.items-list-th размер
            %th.items-list-th баланс исходящий
            %th.items-list-th баланс входящий
            %th.items-list-th id платежа
            %th.items-list-th статус
            %th.items-list-th тип транзакции


            %th.items-list-th
            %th.items-list-th

        %tbody
          - @transactions.each do |trans|
            %tr.items-list-tr
              %td.items-list-td-link= link_to trans.id, trans
              %td.items-list-td= trans.decorate.formatted_created_at
              %td.items-list-td= trans.amount
              %td.items-list-td= trans.from_balance_id
              %td.items-list-td= trans.to_balance_id
              %td.items-list-td= trans.transactionable_id
              %td.items-list-td= trans.status
              %td.items-list-td= trans.decorate.human_transaction_type

              %td.items-list-td.px-1.w-0
                = link_to trans do
                  .icon-button-gray
                    = fa_icon 'search'
      .card-wrap
        = render 'shared/pagination', pagy: @pagy