= form_for @balance_request do |f|

  .my-4
    .my-2
      = f.label :requests_type, 'Тип'
    .my-2
      = f.select :requests_type, [["-выбрать-", ""], ["Внесение", :deposit], ["Снятие", :withdraw]], {},
                                 class: 'form-input-select'

  .my-4
    .my-2
      = f.label :amount, 'Сумма'
    .my-2
      = f.text_field :amount, class: 'form-input'

  .my-4
    .my-2
      = f.label :crypto_address, 'Криптоадрес USDT TRC20 (с которого будете выводить или куда  принимать):'
    .my-2
      = f.text_field :crypto_address, class: 'form-input'

  = f.hidden_field :status, :value => :waiting

  .mt-8
    = f.submit 'Сохранить', class: 'form-submit'
