.mt-8
  %table.item-card-table
    %tbody
      %tr.items-list-tr
        %td.item-card-td.item-card-td-label Создана в
        %td.item-card-td= @balance_request.decorate.formatted_created_at
      %tr.items-list-tr
        %td.item-card-td.item-card-td-label Тип
        %td.item-card-td= @balance_request.requests_type
      %tr.items-list-tr
        %td.item-card-td.item-card-td-label Сумма
        %td.item-card-td= "#{ @balance_request.amount } #{ @balance_request.user.balance.currency }"
      - if @balance_request.amount_minus_commission.present?
        %tr.items-list-tr
          %td.item-card-td.item-card-td-label= role_namespace == 'admins' ? 'Нужно перевести' : 'Вы получите'
          %td.item-card-td= "#{ @balance_request.amount_minus_commission } #{ @balance_request.user.balance.currency }"
        %tr.items-list-tr
          %td.item-card-td.item-card-td-label Расход на оплату газа
          %td.item-card-td= "#{ @balance_request.amount - @balance_request.amount_minus_commission } #{ @balance_request.user.balance.currency }"
      %tr.items-list-tr
        %td.item-card-td.item-card-td-label Статус
        %td.item-card-td= @balance_request.status
      %tr.items-list-tr
        %td.item-card-td.item-card-td-label Хэш транзакции
        %td.item-card-td= @balance_request.transaction_hash
      - if role_namespace == 'admins'
        %tr.items-list-tr
          %td.item-card-td.item-card-td-label Комментарий
          %td.item-card-td= @balance_request.short_comment
        %tr.items-list-tr
          %td.item-card-td.item-card-td-label Реальная комиссия
          %td.item-card-td= @balance_request.real_commission
      %tr.items-list-tr{ 'data-controller': 'clipboard' }
        %td.item-card-td.item-card-td-label Криптоадрес
        %td.item-card-td
          .inline-flex.flex-row.items-center.space-x-3.cursor-pointer{ 'data-action': 'click->clipboard#copy' }
            %span{ 'data-clipboard-target': 'source' }= @balance_request.crypto_address
            = image_tag 'copy.svg', class: 'h-full'
      %tr.items-list-tr
        %td.item-card-td.item-card-td-label Пользователь
        %td.item-card-td= @balance_request.user.decorate.audit_user_info
