= simple_form_for @balance_request, html: { 'data-controller': 'balance_requests' } do |f|

  = f.input :requests_type, collection: [["Внесение", :deposit], ["Снятие", :withdraw]],
                            include_blank: '-выбрать-',
                            input_html: { 'data-action': 'balance_requests#toggleCryptoAddress',
                                          'data-balance_requests-target': 'type' }

  - if national_balance?
    = f.input :amount, hint: "Пожалуйста, введите сумму в #{current_user.balance.currency}", 
                            input_html: { min: 0 }
  - else
    = f.input :amount, input_html: { min: 0 }

  = f.input :crypto_address, label: crypto_address_label,
                             hint: crypto_address_hint,
                             wrapper_html: { 'data-balance_requests-target': 'cryptoAddress',
                                              class: 'hidden' }

  = f.submit 'Сохранить', class: 'form-submit'
