= turbo_stream_from payment

%p.text-xl.mb-2 Чат
.h-96.overflow-auto#chat-container
  = turbo_frame_tag :chats do
    = render partial: 'shared/chat_message', collection: payment.chats, as: :chat
.mt-4
  = form_for Chat.new, url: payment_chats_path( payment_uuid: payment.uuid ), remote: true,
         data: { controller: 'chat_refresh', action: 'turbo:submit-end->chat_refresh#clearInput' } do |f|
    - unless current_user.type == 'Processer'
      = f.text_area :text, class: 'form-input w-full h-16'
      = f.submit 'Отправить', class: 'form-submit mt-4'