%section.wrap
  .mx-2.mt-8.w-full
    %h1 Статистика
  .filters-wrap
    .item-card
      %h1.mb-4.text-xl Фильтры
      = render dashboard_filters_partial(current_user)
  - if role_namespace != 'processers'
    .filters-wrap
      .item-card.h-full
        .flex.mb-4.items-center
          .text-xl.flex-1 Общая статистика
        %table.item-card-table
          %tbody
            = render 'shared/staff/stats/stats_tr',
              title: 'Конверсия',
              value: "#{@total_conversion}%",
              value_color: conversion_color(@total_conversion)
            = render 'shared/staff/stats/stats_tr',
              title: 'Среднее время подтверждения',
              value: "#{@total_average_confirmation.round(2)} сек",
              value_color: average_confirmation_color(@total_average_confirmation)
            - @stats[1].national_currencies.each do |currency|
              = render 'shared/staff/stats/stats_tr',
                title: "Среднее время завершения платежа #{currency}",
                value: "#{@stats[1].avg_release_time[currency]} мин"
              = render 'shared/staff/stats/stats_tr',
                title: "Пропускная способность #{currency}",
                value: @stats[1].payments_bandwith[currency]
  - @stats.each do |stats|
    .card-wrap{ class: 'basis-1/2' }
      .item-card.h-full
        .flex.mb-4.items-center
          .text-xl.flex-1= stats.processer.decorate.display_name
        %table.item-card-table
          %tbody
            = render 'shared/staff/stats/stats_tr',
              title: 'Количество завершенных платежей',
              value: stats.finished
            = render 'shared/staff/stats/stats_tr',
              title: 'Количество успешных платежей',
              value: stats.completed
            = render 'shared/staff/stats/stats_tr',
              title: 'Количество отмененных платежей',
              value: stats.cancelled
            = render 'shared/staff/stats/stats_tr',
              title: 'Сумма успешных платежей',
              value: stats.completed_sum,
              currency: '$'
            = render 'shared/staff/stats/stats_tr',
              title: 'Конверсия',
              value: "#{stats.conversion}%",
              value_color: conversion_color(stats.conversion)
            = render 'shared/staff/stats/stats_tr',
              title: 'Среднее время подтверждения',
              value: "#{stats.average_confirmation.round(2)} сек",
              value_color: average_confirmation_color(stats.average_confirmation)
            = render 'shared/staff/stats/stats_tr',
              title: 'Среднее время разрешения арбитражей по чеку',
              value: "#{stats.average_arbitration_resolution_time.round(2)} сек"
            = render 'shared/staff/stats/stats_tr',
              title: 'Количество открытых арбитражей по чеку',
              value: stats.arbitration_resolutions_count
            = render 'shared/staff/stats/stats_tr',
              title: 'Текущий баланс',
              value: "#{stats.processer.balance.decorate.amount_formatted}",
              value_color: balance_color(stats.processer.balance.amount)
            - unless role_namespace.in?(%w[supports admins]) 
              - stats.active_advertisements.each do |currency, advertisements|
                = render 'shared/staff/stats/stats_tr',
                  title: "Текущие активные карты #{currency}",
                  value: active_advertisements_list(advertisements)
            - stats.active_advertisements_period.each do |currency, advertisements|
              = render 'shared/staff/stats/stats_tr',
                title: "Активные карты за выбранный период #{currency}",
                value: active_advertisements_list(advertisements)
