= simple_form_for :incoming_request_filters, url: incoming_requests_path,
  method: :get,
  data: { turbo_frame: 'content', turbo_action: :advance, controller: 'reset-form-button' },
  html: { class: 'filters'} do |f|

  .filters-grid
    = f.input :created_from, as: :date, html5: true, input_html:{ value: incoming_request_filters_params(:created_from) },
      required: false
    = f.input :created_to, as: :date, html5: true,  input_html:{ value: incoming_request_filters_params(:created_to) },
      required: false
    = f.input :status, collection: [['Все', ''], ['Успешный', 'success'], ['Отмененный', 'canceled']],
      selected: incoming_request_filters_params(:status), required: false
    = f.input :national_currency, collection: NationalCurrency.pluck(:name), include_blank: 'Все',
      selected: incoming_request_filters_params(:national_currency), required: false
    = f.input :national_currency_amount_from, as: :numeric,
      input_html:{ value: incoming_request_filters_params(:national_currency_amount_from) }, required: false
    = f.input :national_currency_amount_to, as: :numeric,
      input_html:{ value: incoming_request_filters_params(:national_currency_amount_to) }, required: false
    = f.input :uuid, as: :string, input_html:{ value: incoming_request_filters_params(:uuid) },
      required: false
    = f.input :id, as: :string, input_html: { value: incoming_request_filters_params(:id) },
      required: false
    = f.input :card_number, as: :string, input_html: { value: incoming_request_filters_params(:card_number) },
      required: false
    = f.input :advertisement_id, as: :string, input_html: { value: incoming_request_filters_params(:advertisement_id) },
      required: false
    = f.input :processer, collection: Processer.pluck(:nickname), include_blank: 'Все',
      selected: incoming_request_filters_params(:processer), required: false

  = f.submit t('buttons.submit'), class: 'form-submit'
  = link_to t('buttons.reset'), incoming_requests_path, data: { turbo_action: :advance }, class: 'reset-button'
