%section.wrap{ 'data-controller': 'clipboard' }
  .card-wrap
    .item-card
      .flex.mb-4.items-center
        .text-xl
          Данные ссылки на внесение средств

      %table.item-card-table
        %tbody
          %tr.item-card-tr
            %td.item-card-td.item-card-td-label{ class: 'w-1/12' } UUID
            %td.item-card-td= "#{@payment.uuid}"
          %tr.item-card-tr
            %td.item-card-td.item-card-td-label Ссылка
            %td.item-card-td
              = button_tag class: 'svg-button align-middle inline-block m-0 w-auto',
                data: { action: "click->clipboard#copy" } do
                = image_tag 'copy.svg', class: 'h-5 w-5'
              %span{ 'data-clipboard-target': 'source' }
                = @payment.decorate.url
