= turbo_frame_tag 'content' do
  %section.wrap
    = render 'stats'
    .filters-wrap
      .item-card
        %h1.mb-4.text-xl Фильтры
        = render 'shared/staff/payments/filter', payments: @payments
    .card-wrap
      .item-card
        %h1.mb-4.text-xl Все платежи
        = render 'table', payments: @filtered_payments

        .card-wrap
          = render 'shared/pagination', pagy: @pagy