= form_with(url: national_currencies_path, action: :update) do |f|
  %table.items-list-table
    %thead.items-list-thead
      %tr
        %th.items-list-th Название
        %th.items-list-th Платёжная система по умолчанию
        %th.items-list-th Позиция объявления по умолчанию (депозит)
        %th.items-list-th Позиция объявления по умолчанию (снятие)

    %tbody
      - national_currencies.each do |national_currency|
        = hidden_field_tag "national_currencies[national_currencies][][id]", national_currency.id
        %tr.items-list-tr
          %td.items-list-td= national_currency.name
          %td.items-list-td
            = select_tag "national_currencies[national_currencies][][default_payment_system_id]",
                         options_from_collection_for_select(national_currency.payment_systems, :id, :name, national_currency.default_payment_system_id),
                         class: 'w-80'
          %td.items-list-td
            = text_field_tag "national_currencies[national_currencies][][adv_position_deposit]", national_currency.adv_position_deposit, size: 5
          %td.items-list-td
            = text_field_tag "national_currencies[national_currencies][][adv_position_withdrawal]", national_currency.adv_position_withdrawal, size: 5

  .mt-4
    = f.submit t('buttons.submit'), class: 'form-submit'
