= simple_form_for @telegram_application do |f|
  .form-inputs.flex
    .col-span-1
      = f.input :api_id, label: 'API ID'
      = f.input :api_hash, label: 'API Hash'
      = f.input :session_name, label: 'Session Name'
      = f.input :phone_number, label: 'Phone Number'
      = f.input :code, label: 'Code'
      = f.input :processer_id, collection: @processers.map { |processer| [processer.nickname, processer.id] }, label: 'Operator'

    .ml-6.mt-4
      = label_tag 'telegram_application[telegram_bot_ids][]', 'Выберите ботов:'
      - TelegramBot.all.each do |bot|
        .checkbox.mb-2
          = check_box_tag 'telegram_application[telegram_bot_ids][]', bot.id, @telegram_application.telegram_bot_ids.include?(bot.id)
          = label_tag "telegram_application[telegram_bot_ids][]", bot.name

  .form-actions
    = f.button :submit, 'Сохранить', class: 'form-submit'
