.mt-8
  %table.item-card-table
    %tbody
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Api id
        %td.item-card-td= @telegram_application.api_id
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Api hash
        %td.item-card-td= @telegram_application.api_hash
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Название сессии
        %td.item-card-td= @telegram_application.session_name
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Номер телефона
        %td.item-card-td= @telegram_application.phone_number
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Код подтверждения
        %td.item-card-td= @telegram_application.code
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Оператор
        %td.item-card-td= @telegram_application.processer.decorate.display_name
