%tr.item-card-tr
  %td.item-card-td.item-card-td-label События по платежу
  %td.item-card-td.max-w-0.overflow-hidden.text-xs

    - payment.audits.find_each do |audit|
      - if audit.user.present?
        %b= audit.user.decorate.audit_user_info
        %br
      - audit.audited_changes.each do |attribute, values|
        = "#{I18n.t("payments.attributes.#{attribute}")}:"
        = formatted_changes(attribute, values)
        %br
