%tr.item-card-tr
  %td.item-card-td.item-card-td-label События по платежу
  %td.item-card-td

    - payment.audits.find_each do |audit|
      - audit.audited_changes.each do |attrs, value|
        = "#{I18n.t("payments.attributes.#{attrs}")}:"
        - if value.compact.size == 2
          = "#{value[0]} -> #{value[1]}" 
          %br
        - else
          = "#{value[1]}" 
          %br
