%table.items-list-table
  %thead.items-list-thead
    %tr
      %th.items-list-th
      %th.items-list-th ID
      %th.items-list-th создан
      %th.items-list-th направление
      %th.items-list-th нац. валюта
      %th.items-list-th кол-во нац. валюты
      %th.items-list-th криптовалюта
      %th.items-list-th кол-во криптовалюты
      %th.items-list-th платежная система
      %th.items-list-th статус
      %th.items-list-th статус изменен
      %th.items-list-th причина отмены
      %th.items-list-th мерчант

      %th.items-list-th
  
  %tbody
    - payments.each do |payment|
      %tr.items-list-tr
        %td.items-list-td
          - if payment.arbitration
            .badge А
        %td.items-list-td-link
          = link_to payment.id, payment_path(payment), data: { turbo_action: :advance }
        %td.items-list-td= payment.formatted_created_at
        %td.items-list-td= payment.human_type
        %td.items-list-td= payment.national_currency
        %td.items-list-td= payment.decorate.national_formatted     
        %td.items-list-td= payment.cryptocurrency
        %td.items-list-td= payment.cryptocurrency_amount
        %td.items-list-td= payment.payment_system
        %td.items-list-td= payment.human_payment_status
        %td.items-list-td= payment.formatted_status_changed_at
        %td.items-list-td= payment.human_cancellation_reason
        %td.items-list-td= payment.merchant.decorate.display_name

        %td.items-list-td.px-1.w-0
          = link_to payment_path(payment), data: { turbo_action: :advance } do
            .icon-button-gray
              = fa_icon 'search'
