%table.items-list-table
  %thead.item-list-thead
    %tr
      %th.items-list-th Номер заказа
      %th.items-list-th создан
      %th.items-list-th направление
      %th.items-list-th нац. валюта
      %th.items-list-th кол-во нац. валюты
      %th.items-list-th криптовалюта
      %th.items-list-th кол-во криптовалюты
      %th.items-list-th платежная система
      %th.items-list-th статус
      %th.items-list-th статус изменен
      %th.items-list-th мерчант
      %th.items-list-th скриншот

      %th.items-list-th
  
  %tbody
    - payments.each do |payment|
      %tr.items-list-tr{ class: ('bg-green-100' if payment.confirming?) }
        %td.items-list-td= payment.external_order_id
        %td.items-list-td= payment.formatted_created_at
        %td.items-list-td= payment.type
        %td.items-list-td= payment.national_currency
        %td.items-list-td= payment.national_currency_amount       
        %td.items-list-td= payment.cryptocurrency
        %td.items-list-td
          = payment.cryptocurrency_amount
          - if payment.transactions.main.present?
            = "(#{payment.transactions.main.first.amount})"
        %td.items-list-td= payment.payment_system
        %td.items-list-td= payment.payment_status
        %td.items-list-td= payment.formatted_status_changed_at
        %td.items-list-td= payment.merchant.decorate.display_name
        %td.items-list-td
          - if payment.image.present?
            = link_to payment.image, target: '_blank' do
              = image_tag payment.image

-#        %td.text-lg.font-bold.text-gray-900.font-light.px-6.py-4.whitespace-nowrap
-#          - if payment.confirming?
-#            = button_to 'Подтвердить', confirm_payments_deposit_path(uuid: payment.uuid),
-#              form: { data: { turbo_confirm: 'Вы уверены, что полностью получили платёж и хотите его подтвердить?' } }
