= simple_form_for(@merchant, as: :merchant, url: merchant_settings_path(@merchant), action: :update) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nickname, autofocus: true
    = f.input :name
    = f.input :account_number_title
    = f.input :account_number_placeholder
    = f.input :check_required, as: :boolean
    = f.input :account_number_required, as: :boolean
    = f.input :chat_enabled, as: :boolean
    = f.input :unique_amount, collection: [['Чек', 'none'], ['Целая уникализация суммы', 'integer'], ['Дробная уникализация суммы', 'decimal']], include_blank: false
    = f.input :any_bank, placeholder: I18n.t('payments.any_bank'), hint: 'Оставить пустым, если не используется'
    = f.input :equal_amount_payments_limit
    = f.association :agent
    = f.input :balance_freeze_type, collection: [['Длинная заморозка', 'long'], ['Короткая заморозка', 'short']]
    = f.input :long_freeze_days
    = f.input :long_freeze_percentage
    = f.input :short_freeze_days

  .py-4
    %h2 Комиссии

    %table.items-list-table
      %thead.items-list-thead
        %tr
          %th.items-list-th Метод платежа
          %th.items-list-th Валюта
          %th.items-list-th Тип платежа
          %th.items-list-th Агент
          %th.items-list-th
            .flex.flex-col
              Остальные
              %span.hint
                Для новой версии рассчётов
                %br
                (сервис + оператор
                %br
                + организатор)
          %th.items-list-th Общий процент

          %th.items-list-th

      %tbody
        - @commissions.each do |merchant_method_id, commissions|
          %tr.items-list-tr
            %td.items-list-td= commissions.first.payment_system_name
            %td.items-list-td= commissions.first.national_currency_name
            %td.items-list-td= commissions.first.direction
            - commissions = commissions.group_by(&:commission_type).map { [_1, _2.first] }.to_h
            %td.items-list-td= text_field_tag "merchant[commissions][#{commissions['agent'].id}]", commissions['agent'].commission, size: 5
            %td.items-list-td= text_field_tag "merchant[commissions][#{commissions['other'].id}]", commissions['other'].commission, size: 5
            %td.items-list-td= commissions.slice('agent', 'other').values.sum(&:commission)
            %td.items-list-td.px-1.w-0
              = link_to merchant_merchant_method_path(@merchant, merchant_method_id),
                        data: { turbo_confirm: 'Вы уверены что хотите удалить метод?', turbo_method: :delete }  do
                .icon-button-red
                  = fa_icon 'trash'


  .form-actions
    = f.button :submit, t('buttons.submit'), class: 'form-submit'

= form_with url: merchant_merchant_methods_path(@merchant), class: 'form_with mt-5', data: {turbo_confirm: 'Вы уверены?'} do |f|
  .flex.flex-row.items-start.space-x-2
    .flex.flex-col.items-start
      = f.text_field :keywords, placeholder: 'Ключевые слова', class: 'form-input w-full'
      %span.hint Пустое поле соответствует всем возможным значениям
    = f.submit 'Добавить методы', name: :add_methods, class: 'form-submit'
    = f.submit 'Удалить методы', name: :delete_methods, class: 'form-submit-red'
