<!DOCTYPE html>
<html>
  <head>
    <title>PpayApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="top_container flex bg-slate-50">
      <%= render partial: "layouts/flash_alerts"%>
      <%- if user_signed_in? %>
        <%= render partial: "#{role_namespace}/shared/menu_block"%>
        <%= render partial: "layouts/login_block"%>
      <%- end %>
    </div>
    <div class="main_container flex ">
      <%= yield %>
    </div>
  </body>
</html>
