<!DOCTYPE html>
<html>
  <head>
    <title>Ppay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= audio_tag 'notification.mp3', id: 'notification_sound' %>
  </head>

  <body data-controller="countdown" style="<%= yield(:body_style) %>">
    <div class="default-nav">
      <%- if user_signed_in? %>
        <%= render partial: "layouts/menu_block" %>
        <%= render partial: "layouts/login_block" %>
      <%- end %>
    </div>
    <%= render partial: "layouts/flash_alerts" %>
    <%- if role_namespace == 'processers' && controller_name != 'advertisements' && action_name != 'flow' %>
      <%= turbo_stream_from "processer_#{current_user.id}_hotlist" %>
      <%= render 'processers/payments/hotlist', user: current_user %>
      <%= render 'processers/notifications/index', user: current_user %>
    <%- end %>
    <div class="main_container py-4 px-8">
      <%= content_for?(:main_container) ? yield(:main_container) : yield %>
    </div>
  </body>
</html>
