%section.wrap
  .card-wrap
    .item-card
      %h1.mb-4.text-xl Курсы валют

      - if @rate_snapshots.size > 0
        %table.items-list-table
          %thead.item-list-thead
            %tr
              %th.items-list-th ID
              %th.items-list-th добавлен
              %th.items-list-th направление
              %th.items-list-th нац. валюта
              %th.items-list-th криптовалюта
              %th.items-list-th платежная система
              %th.items-list-th позиция в стакане
              %th.items-list-th exchange_portal_id
              %th.items-list-th значение
              %th.items-list-th

          %tbody
            - @rate_snapshots.each do |rs|
              %tr.items-list-tr
                %td.items-list-td-link= link_to rs.id, rs
                %td.items-list-td= l(rs.created_at, format: :short)
                %td.items-list-td= rs.direction
                %td.items-list-td= rs.national_currency
                %td.items-list-td= rs.cryptocurrency
                %td.items-list-td= rs.payment_system
                %td.items-list-td= rs.position_number
                %td.items-list-td= rs.exchange_portal_id
                %td.items-list-td= rs.value

                %td.items-list-td.px-1.w-0
                  = link_to rs do
                    .icon-button-gray
                      = fa_icon 'search'
        .card-wrap
          = render 'shared/pagination', pagy: @pagy

      - else
        %p Не найдено в базе