%section.wrap
  .card-wrap
    .item-card
      %h2.mt-4 Глобальные настройки
      = simple_form_for @setting, url: setting_path, method: :patch do |f|
        = f.label :receive_requests_enabled, 'Включить прием запросов'
        = f.check_box :receive_requests_enabled
        = f.input :commissions_version
        = f.input :otp_payment_confirm_amount,
          hint: 'Платежи выше этой суммы можно будет подтвердить только с помощью OTP-кода'
        .mt-3
          = f.submit 'Сохранить', class: 'form-submit'
      %div= render 'shared/time_zone_select'

