%table.min-w-full.text-center
  %thead.border-b.bg-gray-50
    %tr
      %th.text-xs.font-medium.text-gray-900.px-6.py-4 ID
      %th.text-xs.font-medium.text-gray-900.px-6.py-4 создан
      %th.text-xs.font-medium.text-gray-900.px-6.py-4 направление
      %th.text-xs.font-medium.text-gray-900.px-6.py-4 нац. валюта
      %th.text-xs.font-medium.text-gray-900.px-6.py-4 кол-во нац. валюты
      %th.text-xs.font-medium.text-gray-900.px-6.py-4 криптовалюта
      %th.text-xs.font-medium.text-gray-900.px-6.py-4 кол-во криптовалюты
      %th.text-xs.font-medium.text-gray-900.px-6.py-4 платежная система
      %th.text-xs.font-medium.text-gray-900.px-6.py-4 статус
      %th.text-xs.font-medium.text-gray-900.px-6.py-4 id мерчанта
      %th.text-xs.font-medium.text-gray-900.px-6.py-4 скриншот

      %th.text-xs.font-medium.text-gray-900.px-6.py-4
  
  %tbody
    - payments.each do |payment|
      %tr
        %td.px-6.py-4.whitespace-nowrap.text-xs.font-medium.text-gray-900= payment.id
        %td.text-xs.text-gray-900.font-light.px-6.py-4.whitespace-nowrap= payment.formatted_created_at
        %td.text-xs.text-gray-900.font-light.px-6.py-4.whitespace-nowrap= payment.type
        %td.text-xs.text-gray-900.font-light.px-6.py-4.whitespace-nowrap= payment.national_currency
        %td.text-xs.text-gray-900.font-light.px-6.py-4.whitespace-nowrap= payment.national_currency_amount       
        %td.text-xs.text-gray-900.font-light.px-6.py-4.whitespace-nowrap= payment.cryptocurrency
        %td.text-xs.text-gray-900.font-light.px-6.py-4.whitespace-nowrap= payment.cryptocurrency_amount
        %td.text-xs.text-gray-900.font-light.px-6.py-4.whitespace-nowrap= payment.payment_system
        %td.text-xs.text-gray-900.font-light.px-6.py-4.whitespace-nowrap= payment.payment_status
        %td.text-xs.text-gray-900.font-light.px-6.py-4.whitespace-nowrap= payment.merchant_id
        / %td.text-xs.text-gray-900.font-light.px-6.py-4.whitespace-nowrap
        /   - if payment.image.present?
        /     = link_to payment.image, target: '_blank' do
        /       = image_tag payment.image

        %td.text-gray-900.font-light.px-6.py-4.whitespace-nowrap.underline
          = link_to 'Перейти', payment_path(payment), data: { turbo_action: :advance }
