.left_column{:class => "mx-10 my-10 float-left  w-1/4"}
  = #render 'processers/payments/show_turbo_frame', payment: @payment, signature: nil
  %h2 Данные платежа:
  %br
  %p 
    %b uuid:
    %br
    = "#{@payment.uuid}"
  %p 
    %b создан (MSK):
    %br
    = "#{@payment.formatted_created_at}"
  %p 
    %b type:
    = "#{@payment.type}"
    %br
    - if @payment.type == 'Deposit'
      = "(продажа / sell / внесение средств)"
    - else
      = "(покупка / buy / снятие средств)"
  %p 
    %b payment_status:
    %br
    = "#{@payment.payment_status}"
  %br
  %p 
    %b cryptocurrency:
    = "#{@payment.cryptocurrency}"
  %p 
    %b кол-во криптовалюты:
    %br
    - if @payment.cryptocurrency_amount
      = "#{@payment.cryptocurrency_amount}"
    - else
      = "? (ещё не рассчитано)"


  %p 
    %b national_currency:
    = "#{@payment.national_currency}"
  %p 
    %b national_currency_amount:
    %br
    = "#{@payment.national_currency_amount}"

  %p 

    %b платежная система:
    %br
    - if @payment.payment_system
      = "#{@payment.payment_system}"
    - else
      = "? (не выбрана)"




  - if @payment.cancelled_on_status
    %p 
      %b cancelled_on_status:
      %br
      = "#{@payment.cancelled_on_status}"
  - if @payment.advertisement_id
    %p 
      %b id объявления:
      %br
      = "#{@payment.advertisement_id}"
      %br
      %b подробнее по объявлению:
      тест тест тест тест

  %p 
    %b мерчант:
    %br
    - if @payment.merchant_id
      = Merchant.find(@payment.merchant_id).nickname
      %br
      подробнее:
      = "id: #{@payment.merchant_id}"
    - else
      = "? (не указан)"

  %p 
    %b снимок курса:
    %br
    - if @rate_snapshot
      = "#{@rate_snapshot.value}"
      подробнее:
      %br
      = "направление: #{@rate_snapshot.direction}"
      %br
      = "криптовалюта: #{@rate_snapshot.cryptocurrency}"
      %br
      = "платежная система: #{@rate_snapshot.payment_system}"
      %br
      = "биржа: #{@exchange_portal.name}"
    - else
      = "? (курс не привязан)"



  %p 
    %b номер карты:
    %br
    - if @payment.type == 'Deposit'
      = "номер карты не нужен"
    - else
      = "#{@payment.card_number}"

  %br
  %p 
    %b first_ip:
    %br
    = "#{@payment.first_ip}"

  %p 
    %b first_user_agent:
    %br
    = "#{@payment.first_user_agent}"



.comments_column{:class => "mx-10 my-10 float-left  w-3/4"}
  %h2 Комментарии:
  
