.item-card
  %p
    Вы можете оплатить в течение:
    %span.countdown{
      data: { end_time: payment.countdown_end_time, 'countdown-target': 'countdown' }
    }
      = payment.countdown
  %br

  %p.text-2xl
    Заказ №:
    = payment.external_order_id

  %p.text-2xl
    Сумма:
    = payment.decorate.national_formatted
    = payment.national_currency

  %p.text-2xl
    Банк:
    = payment.payment_system

  %p.text-2xl
    Номер карты:
    = payment.formatted_card_number

  %br
  %p Отправьте указанную сумму на этот номер карты. Сумма должна быть в точности та, что указана на экране. Пожалуйста, добавьте изображение с подтверждением платежа. Добавление изображения позволит нам обработать Ваш платеж значительно быстрее.
  %br

  = simple_form_for payment, url: payments_statuses_withdrawal_path(uuid: payment.uuid), action: :update do |f|
    = hidden_field_tag :event, 'check'

    = f.label :image, 'Добавьте изображение чека:'
    %br
    = render 'payments/errors', payment: payment

    = f.file_field :image, class: 'filepond',
                           direct_upload: true,
                           data: { controller: 'filepond', 'max-file-size': '5MB' }
    = f.submit "Оплата завершена", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 my-2 rounded"

  %br

  %p Если Вы совершили оплату - обязательно нажмите кнопку "Оплата завершена". При отправке денежных средств по указанным реквизитам оставлять комментарии в назначении платежа категорически запрещено.
