- case payment.payment_system
  - when "Sberbank"
    .proc-card-sceomorph
      .proc-card-sceomorph-bank
        = payment.payment_system.upcase
      .proc-card-sceomorph-number
        - #cards_string = ""
        - #payment.advertisement.card_number.scan(/.{4}/).each {|word| cards_string << "#{word} " }
        = #cards_string
        = payment.advertisement.card_number
      .proc-card-sceomorph-name
        Иван Иванов

  - when "Tinkoff"
    .tinkoff-card
      .tinkoff-card-bank
        = payment.payment_system.upcase
      .tinkoff-card-number
        = payment.advertisement.card_number
      .tinkoff-card-name
        Иван Иванов

  - when "Raiffeisen"
    .raiffeisen-card
      .raiffeisen-card-bank
        = payment.payment_system.upcase
      .raiffeisen-card-number
        = payment.advertisement.card_number
      .raiffeisen-card-name
        Иван Иванов

  - when "AlfaBank"
    .alfabank-card
      .alfabank-card-bank
        = payment.payment_system.upcase
      .alfabank-card-number
        = payment.advertisement.card_number
      .alfabank-card-name
        Иван Иванов