- case payment.payment_system
  - when "Sberbank"
    .proc-card-sceomorph{ 'data-controller': 'clipboard' }
      .proc-card-sceomorph-bank
        = payment.payment_system.upcase
      .proc-copy-bank-card-content
        .proc-card-sceomorph-number{ 'data-clipboard-target': 'source' }
          = payment.advertisement.decorate.formatted_card_number
        .copy-card-button
          = button_tag class: 'svg-button', data: { action: "click->clipboard#copy" } do
            = image_tag 'copy.svg'
      .sberbank-card-owner
        = payment.advertisement.card_owner_name

  - when "Tinkoff"
    .tinkoff-card{ 'data-controller': 'clipboard' }
      .tinkoff-card-bank
        = payment.payment_system.upcase
      .proc-copy-bank-card-content
        .tinkoff-card-number{ 'data-clipboard-target': 'source' }
          = payment.advertisement.decorate.formatted_card_number
        .copy-card-button
          = button_tag class: 'svg-button', data: { action: "click->clipboard#copy" } do
            = image_tag 'copy.svg'
      .tinkoff-card-owner
        = payment.advertisement.card_owner_name

  - when "Raiffeisen"
    .raiffeisen-card{ 'data-controller': 'clipboard' }
      .raiffeisen-card-bank
        = payment.payment_system.upcase
      .proc-copy-bank-card-content
        .raiffeisen-card-number{ 'data-clipboard-target': 'source' }
          = payment.advertisement.decorate.formatted_card_number
        .copy-card-button
          = button_tag class: 'svg-button', data: { action: "click->clipboard#copy" } do
            = image_tag 'copy.svg'
      .raiffeisen-card-owner
        = payment.advertisement.card_owner_name

  - when "AlfaBank"
    .alfabank-card{ 'data-controller': 'clipboard' }
      .alfabank-card-bank
        = payment.payment_system.upcase
      .proc-copy-bank-card-content
        .alfabank-card-number{ 'data-clipboard-target': 'source' }          
          = payment.advertisement.decorate.formatted_card_number
        .copy-card-button
          = button_tag class: 'svg-button', data: { action: "click->clipboard#copy" } do
            = image_tag 'copy.svg'
      .alfabank-card-owner
        = payment.advertisement.card_owner_name

  - when "HUMO"
    .humo-card{ 'data-controller': 'clipboard' }
      .humo-card-bank
        = payment.payment_system.upcase
      .proc-copy-bank-card-content
        .humo-card-number{ 'data-clipboard-target': 'source' }
          = payment.advertisement.decorate.formatted_card_number
        .copy-card-button
          = button_tag class: 'svg-button', data: { action: "click->clipboard#copy" } do
            = image_tag 'copy.svg'
      .humo-card-owner
        = payment.advertisement.card_owner_name

  - when "СБП"
    .default-bank-card{ 'data-controller': 'clipboard' }
      .default-bank-card-bank
        = payment.advertisement.payment_system.upcase
      .proc-copy-bank-card-content
        .default-bank-card-number{ 'data-clipboard-target': 'source' }
          = payment.advertisement.sbp_phone_number
        .copy-card-button
          = button_tag class: 'svg-button', data: { action: "click->clipboard#copy" } do
            = image_tag 'copy.svg'
      .default-card-owner
        = payment.advertisement.card_owner_name

  - else
    .default-bank-card{ 'data-controller': 'clipboard' }
      .default-bank-card-bank
        = payment.payment_system.upcase
      .proc-copy-bank-card-content
        .default-bank-card-number{ 'data-clipboard-target': 'source' }
          = payment.advertisement.decorate.formatted_card_number
        .copy-card-button
          = button_tag class: 'svg-button', data: { action: "click->clipboard#copy" } do
            = image_tag 'copy.svg'
      .default-card-owner
        = payment.advertisement.card_owner_name

