- case payment.payment_system
  - when "Sberbank"
    .proc-card-sceomorph{ 'data-controller': 'clipboard' }
      .proc-card-sceomorph-bank
        = payment.payment_system.upcase
      .proc-copy-bank-card-content
        .proc-card-sceomorph-number{ 'data-clipboard-target': 'source' }
          = payment.advertisement.decorate.formatted_card_number
        .copy-card-button
          = button_tag class: 'svg-button', data: { action: "click->clipboard#copy" } do
            = image_tag 'copy.svg'

  - when "Tinkoff"
    .tinkoff-card{ 'data-controller': 'clipboard' }
      .tinkoff-card-bank
        = payment.payment_system.upcase
      .proc-copy-bank-card-content
        .tinkoff-card-number{ 'data-clipboard-target': 'source' }
          = payment.advertisement.decorate.formatted_card_number
        .copy-card-button
          = button_tag class: 'svg-button', data: { action: "click->clipboard#copy" } do
            = image_tag 'copy.svg'

  - when "Raiffeisen"
    .raiffeisen-card{ 'data-controller': 'clipboard' }
      .raiffeisen-card-bank
        = payment.payment_system.upcase
      .proc-copy-bank-card-content
        .raiffeisen-card-number{ 'data-clipboard-target': 'source' }
          = payment.advertisement.decorate.formatted_card_number
        .copy-card-button
          = button_tag class: 'svg-button', data: { action: "click->clipboard#copy" } do
            = image_tag 'copy.svg'

  - when "AlfaBank"
    .alfabank-card{ 'data-controller': 'clipboard' }
      .alfabank-card-bank
        = payment.payment_system.upcase
      .proc-copy-bank-card-content
        .alfabank-card-number{ 'data-clipboard-target': 'source' }
          = payment.advertisement.decorate.formatted_card_number
        .copy-card-button
          = button_tag class: 'svg-button', data: { action: "click->clipboard#copy" } do
            = image_tag 'copy.svg'
