.show-payment
  .show-payment-block
    .proc-head
      = render 'payments/merchant_logo', payment:
      .proc-text
        = render 'payments/select_locale', payment:, signature: signature

    - if payment.cancellation_reason == 'not_paid'
      .proc-payment-cancelled-block
        .flex.flex-col.items-center.justify-center.h-full
          .proc-payment-cancelled-img
          = t('payments.your_payment_cancelled')
          .mt-1.text-xs
            = t('payments.arbitration_instruction')
          %button.mt-2.w-80.h-12.grayy-button
            - if payment.redirect_url.present?
              = link_to t('payments.in_shop'), payment.redirect_url
    - else
      .proc-payment-cancelled-block
        .proc-payment-cancelled-img
        = t('payments.payment_cancelled')

      .proc-payment-cancelled-links-block
        - if payment.redirect_url.present?
          = link_to t('payments.back_to_shop'), payment.redirect_url

    = render 'payments/uuid', payment: payment
  = render 'shared/chat', payment: payment


