.show-payment
  .show-payment-block
    .proc-head
      = render 'payments/merchant_logo', payment: payment
      .proc-text
        = render 'payments/select_locale', payment:, signature:

    .proc-payment-cancelled-block
      .proc-payment-cancelled-img
      = t('payments.payment_cancelled')

    .proc-payment-cancelled-links-block
      - if payment.redirect_url.present?
        = link_to t('payments.back_to_shop'), payment.redirect_url

    = render 'payments/uuid', payment:, class: 'text-center'

  - if payment.arbitration
    = render 'shared/chat', payment: