- unless payment.initial_amount == payment.national_currency_amount
  #change-sum.modal.show{ 'data-controller': 'modal' }
    %div
      .modal_amount{ 'data-controller': 'clipboard' }
        .proc-amount-content1.pt-1
          %div{ 'data-clipboard-target': 'source' }
            #{payment.decorate.national_formatted}
          %div.pr-3
            #{payment.national_currency}
          .copy-button
            = button_tag class: 'svg-button', data: { action: "click->clipboard#copy" } do
              = image_tag 'copy.svg', class: 'h-full'
      .modal_content
        .modal_title
          = t('payments.deposit.attributes.copy_deposit_amount')
        .modal_text
          = t('payments.deposit.attributes.changing_amount')

        = button_tag t('payments.deposit.attributes.continue_payment'), class: 'modal_button', data: { action: "click->modal#hide" }
