- unless payment.initial_amount == payment.national_currency_amount
  #change-sum.modal.show{ 'data-controller': 'modal' }
    %div
      .modal_amount{ 'data-controller': 'clipboard' }
        .proc-amount-content1.pt-1
          %div{ 'data-clipboard-target': 'source' }
            #{payment.national_currency_amount}
          %div.pr-3
            #{payment.national_currency}
          .copy-button
            = button_tag class: 'svg-button', data: { action: "click->clipboard#copy" } do
              = image_tag 'copy'
      .modal_content
        .modal_title
          Скопируйте точную сумму депозита 
        .modal_text
          Мы изменили сумму, чтобы определить Ваш платеж и обработать его быстрее

        = button_tag "Продолжить оплату", class: 'modal_button', data: { action: "click->modal#hide" }
