.show-payment
  -unless browser.device.mobile? || browser.device.tablet?
    .show-second-block{style: payment.background_color_style}

  .show-payment-block
    .proc-head
      = render 'payments/merchant_logo', payment: payment
      .proc-text
        UID Check

    .proc-amount-block
      .proc-amount-content
        = "#{payment.decorate.national_formatted} #{payment.national_currency}"


    .proc-shop-block
      .proc-shop-title
        Магазин
      .proc-shop-content
        = payment.merchant.name

    .mt-1
      .proc-order-block
        .proc-order-title
          Заказ
        .proc-order-content
          = payment.external_order_id

    = render 'payments/errors', payment: payment
      
    .simple-form-for-payment-deposit
      = simple_form_for payment, url: payments_statuses_deposit_path(uuid: payment.uuid, signature:), action: :update do |f|
        .select-payment-system
          = f.label :payment_system, 'Выберите платежную систему'

        = f.select :payment_system, payment_systems_collection_for_payment(payment),
                                    { include_blank: 'Выбрать' },
                                    class: 'grey-drop-down'

        = hidden_field_tag :event, 'search'

        = f.submit "Подтвердить", class: "green-button-submit mt-3", style: payment.button_color_style

    .please-pay-from-bank
      Пожалуйста, выбирайте из списка только тот банк, карта которого у Вас есть и с которой Вы планируете  оплатить!

    = render 'payments/cancel_form', payment:, signature:, url: payments_statuses_deposit_path(uuid: payment.uuid, signature:)

    = render 'payments/alerts_block'

    = render 'payments/uuid', payment:

  - if payment.arbitration
    = render 'shared/chat', payment:
    
  -unless browser.device.mobile? || browser.device.tablet?
    .show-second-block{style: payment.background_color_style}
      = render 'payments/qr_code', payment: payment

