.proc_head
  .proc_logo
  .proc_text
    UID Check

.proc_amount_block
  .proc_amount_content
    = "#{payment.national_currency_amount} #{payment.national_currency}"


.proc_shop_block
  .proc_shop_title
    Магазин
  .proc_shop_content
    = payment.merchant.name


.proc_order_block
  .proc_order_title
    Заказ
  .proc_order_content
    = payment.external_order_id

= render 'payments/errors', payment: payment

.simple_form_for_payment_deposit
  = simple_form_for payment, url: payments_statuses_deposit_path(uuid: payment.uuid, signature:), action: :update do |f|
    %b
      = f.label :payment_system, 'Выберите платежную систему'
    
      = f.select :payment_system, [["Выбрать", ""], "Sberbank", "Tinkoff", "Raiffeisen", "AlfaBank"],
               id: 'payment_system_field', class: 'form_field appearance-none bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500  my-2'
    

    = hidden_field_tag :event, 'search' 
    
    = f.submit "Подтвердить", class: "confirm-payment-system-choose"
    
    .please_pay_from_bank 
      Пожалуйста, выбирайте из списка только тот банк, карта которого у Вас есть и с которой Вы планируете  оплатить!

  = render 'payments/cancel_form', payment:, signature:, url: payments_statuses_deposit_path(uuid: payment.uuid, signature:)

.alerts_block
  .text-red
    %p Внимание:
  .my-2
    %p 
      1) при отправке денежных средств писать сообщения в приложении категорически запрещено;
  .my-2
    %p 
      2) платеж должен быть выполнен в точности на указанную сумму, включая все знаки после запятой;
  .my-2
    %p 
      3) средства необходимо отправлять строго внутрибанковским переводом, банк отправитель и банк получатель должны быть одинаковыми. В противном случае зачисление оплаты не гарантируется.

%br