.proc_head
  .proc_logo
  .proc_text
    UID Check

.countdown_payment_block_text
  Вы можете оплатить в течение:
  %span.countdown{ data: { end_time: payment.countdown_end_time, 'countdown-target': 'countdown' } }
    = payment.countdown





.proc_amount_block
  .proc_amount_content
    = "#{payment.national_currency_amount} #{payment.national_currency}"

 


.proc_card_sceomorph
  .proc_card_sceomorph_bank
    = payment.payment_system.upcase
  .proc_card_sceomorph_number
    - cards_string = ""
    - payment.advertisement.card_number.scan(/.{4}/).each {|word| cards_string << "#{word} " }
    = cards_string
  .proc_card_sceomorph_footer


.proc_order_block2
  .proc_order_title2
    Заказ
  .proc_order_content2
    = payment.external_order_id


.proc_send_summ
  %b
    1. Отправьте указанную сумму 
    %br
    на этот номер карты.
  %br
  Сумма должна быть в точности та, что указана на экране. Пожалуйста, добавьте изображение с подтверждением платежа. Добавление изображения позволит нам обработать Ваш платеж значительно быстрее.






= render 'payments/errors', payment: payment

.payment_image_tag_block
  = simple_form_for payment, url: payments_statuses_deposit_path(uuid: payment.uuid, signature:), action: :update do |f|
    = hidden_field_tag :event, 'check'

    - if payment.image.present?
      = image_tag payment.image
      %br
    .add_img_confirm
      %b
        2. Добавьте изображение:
    %br
    = f.file_field :image
    %br

    = f.submit "Оплата завершена", class: "payment-finished-button"


.alerts_block_sending
  %p Внимание:
  %p 
    Если Вы совершили оплату и не нажали на кнопку "Оплата завершена", то зачисление оплаты не гарантируется. Если Вы совершили оплату и нажали на кнопку "Отмена", то оплата не будет зачислена. При отправке денежных средств по указанным реквизитам оставлять комментарии в назначении платежа категорически запрещено.

.block_sending_cancel_on_img_form
  = render 'payments/cancel_form', payment:, signature:, url: payments_statuses_deposit_path(uuid: payment.uuid, signature:)