= turbo_stream_from @payment
.flex.justify-center
  .show_content.show_deposit_block
    = render 'show'

    .uuid_payment_block
      uuid:
      = @payment.uuid
      - if user_signed_in?
        = "(payment_status: \"#{@payment.reload.payment_status}\")"
    .clear

  - if @payment.arbitration
    .show_content.show_deposit_block
      %p.text-xl.mb-2 Чат
      .h-96.overflow-auto#chat-container
        = turbo_frame_tag :chats do
          = render partial: '/shared/chat', collection: @payment.chats
      .mt-4
        = form_for Chat.new, url: payment_chats_path( payment_uuid: @payment.uuid ), remote: true, data: { controller: 'chat_refresh', action: 'turbo:submit-end->chat_refresh#clearInput' } do |f|
          = f.text_area :text, class: 'form-input w-full h-16'
          = f.submit 'Добавить', class: 'form-submit mt-4'
