.mt-8
  %table.item-card-table
    %tbody
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Направление
        %td.item-card-td= @advertisement.direction
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Нац. валюта
        %td.item-card-td= @advertisement.national_currency
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Минимальная сумма
        %td.item-card-td= @advertisement.min_summ
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Максимальная сумма
        %td.item-card-td= @advertisement.max_summ    
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Платежная система
        %td.item-card-td= @advertisement.payment_system
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Номер карты
        %td.item-card-td= @advertisement.card_number
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label ФИО владельца карты
        %td.item-card-td= @advertisement.card_owner_name
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label номер телефона СБП
        %td.item-card-td= @advertisement.sbp_phone_number
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Автоматизированная проверка платежей
        %td.item-card-td= @advertisement.simbank_auto_confirmation ? 'Активно' : 'Неактивно'
      %tr.item-card-tr 
        %td.item-card-td.item-card-td-label Сохранение истории пуш/смс уведомлений
        %td.item-card-td= @advertisement.save_incoming_requests_history ? 'Активно' : 'Неактивно'
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label IMEI
        %td.item-card-td= link_to nil, @advertisement.imei
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Номер телефона
        %td.item-card-td= link_to nil, @advertisement.phone
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label IMSI
        %td.item-card-td= link_to nil, @advertisement.imsi
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Последние 4 цифры номера счета
        %td.item-card-td= link_to nil, @advertisement.simbank_card_number
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Отправитель SMS или PUSH
        %td.item-card-td= link_to nil, @advertisement.simbank_sender
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Ссылка для оплаты
        %td.item-card-td= link_to nil, @advertisement.payment_link
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Комментарий
        %td.item-card-td= @advertisement.comment
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Источник курса
        %td.item-card-td= @advertisement.exchange_rate_source
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Кол-во успешных платежей
        %td.item-card-td= @advertisement.completed_payments  
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Кол-во отмененных платежей
        %td.item-card-td= @advertisement.cancelled_payments  
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Конверсия
        %td.item-card-td= @advertisement.conversion  
      %tr.item-card-tr
        %td.item-card-td.item-card-td-label Статус
        %td.item-card-td= @advertisement.status ? 'Активно' : 'Неактивно'
        

