= simple_form_for @advertisement, html: { data: { controller: 'inputmask--card-number' } } do |f|

  = f.input :direction, collection: [["продажа (sell) / ввод (deposit)", "Deposit"], ["покупка (buy) / вывод (withdrawal)", "Withdrawal"]],
                        include_blank: '-выбрать-'

  = f.input :national_currency, collection: Settings.national_currencies, include_blank: '-выбрать-'

  = f.input :payment_system, collection: PaymentSystem.pluck(:name), include_blank: '-выбрать-'

  = f.input :card_number, input_html: { data: { 'inputmask--card-number-target': 'input' } }

  = f.input :payment_link

  = f.input :comment

  = f.input :status

  = f.submit 'Сохранить', class: 'form-submit'
