= simple_form_for @advertisement, html: { data: { controller: 'inputmask--card-number', paymentSystem: '' } } do |f|
  = f.input :direction, collection: [["продажа (sell) / ввод (deposit)", "Deposit"], ["покупка (buy) / вывод (withdrawal)", "Withdrawal"]],
                        include_blank: '-выбрать-'

  = f.input :national_currency, collection: NationalCurrency.pluck(:name), include_blank: '-выбрать-'

  = f.input :payment_system, collection: PaymentSystem.pluck(:name), include_blank: '-выбрать-', input_html: { id: 'advertisement_payment_system' }

  = f.input :card_number, input_html: { data: { 'inputmask--card-number-target': 'input' } }

  = f.input :card_owner_name

  = f.input :sbp_phone_number

  = f.input :simbank_auto_confirmation

  Введите данные в поле в зависимости от того, каким способом будет осуществляться подключение к автоматизации

  = f.input :imei

  = f.input :phone

  = f.input :imsi

  = f.input :simbank_card_number, hint: simbank_card_number_hint, hint_html: { class: 'hint-red' }

  = f.input :simbank_sender, hint: simbank_sender_hint, hint_html: { class: 'hint-red' }

  = f.input :payment_link

  = f.input :comment

  = f.input :status

  = f.submit 'Сохранить', class: 'form-submit'
