= turbo_stream_from "advertisement_#{advertisement.id}_hotlist"
= turbo_frame_tag "advertisement_#{advertisement.id}_hotlist" do
  .div.flex.flex-wrap
    - advertisement.payments.in_hotlist.each do |payment|
      .p-1.text-xs{ class: 'w-[140px]', 'data-controller': 'countdown' }
        = link_to payment_path(payment), data: { turbo: false }, class: 'block' do
          = render 'processers/advertisements/hotlist_payment', payment:
