%h2= t('.title')

= simple_form_for(current_user, url: users_settings_path, action: :update) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nickname, autofocus: true


  .form-actions
    = f.button :submit, t('.update'), class: 'form-submit'
