%table.items-list-table
  %thead.items-list-thead
    %tr
      %th.items-list-th ID
      %th.items-list-th Email
      %th.items-list-th Создан
      %th.items-list-th Псевдоним

      %th.items-list-th

  %tbody
    - merchants.each do |merchant|
      %tr.items-list-tr
        %td.items-list-td-link
          = link_to merchant.id, merchant_path(merchant), data: { turbo_action: :advance }
        %td.items-list-td-link
          = link_to merchant.email, merchant_path(merchant), data: { turbo_action: :advance }
        %td.items-list-td= merchant.formatted_created_at
        %td.items-list-td= merchant.decorate.display_name

        %td.items-list-td.px-1.w-0
          = link_to merchant_path(merchant), data: { turbo_action: :advance } do
            .icon-button-gray
              = fa_icon 'search'
