= simple_form_for :advertisement_filters, url: advertisements_path,
  method: :get,
  data: { turbo_frame: 'content', turbo_action: :advance, controller: 'reset-form-button' },
  html: { class: 'filters'} do |f|

  .filters-grid
    = f.input :status, collection: advertisement_statuses_collection, include_blank: 'Все',
                       selected: advertisement_filters_params(:status)
    = f.input :card_number, as: :string, input_html:{ value: advertisement_filters_params(:card_number) }

    = f.input :direction, collection: ['Deposit', 'Withdrawal'], include_blank: 'Все',
                       selected: advertisement_filters_params(:direction) 

    = f.input :national_currency, collection: NationalCurrency.pluck(:name), include_blank: 'Все',
                       selected: advertisement_filters_params(:national_currency)

    = f.input :payment_system, collection: PaymentSystem.pluck(:name), include_blank: 'Все',
                       selected: advertisement_filters_params(:payment_system) 

    = f.input :processer, collection: processers_collection, include_blank: 'Все',
                       selected: advertisement_filters_params(:processer) if management_namespace?

    = f.input :card_owner_name, as: :string, input_html: { value: advertisement_filters_params(:card_owner_name) }
    = f.input :simbank_card_number, as: :string, input_html: { value: advertisement_filters_params(:simbank_card_number) }
    - if role_namespace.in?(%w[processers])
      %br
    = f.input :period, collection: period_collection,
                      include_blank: '- Не выбрано -',
                      selected: advertisement_filters_params(:period)
    = f.input :created_from, as: :date,
                             html5: true,
                             input_html:{ value: advertisement_filters_params(:created_from) },
                             required: false
    = f.input :created_to, as: :date,
                           html5: true,
                           input_html:{ value: advertisement_filters_params(:created_to) },
                           required: false

  = f.submit t('buttons.submit'), class: 'form-submit'
  = link_to t('buttons.reset'), advertisements_path, data: { turbo_action: :advance }, class: 'reset-button'
