= simple_form_for :advertisement_filters, url: advertisements_path,
  method: :get,
  data: { turbo_frame: 'content', turbo_action: :advance, controller: 'reset-form-button' },
  html: { class: 'filters'} do |f|

  .filters-grid
    = f.input :status, collection: advertisement_statuses_collection, include_blank: 'Все',
                       selected: advertisement_filters_params(:status)
    = f.input :card_number, as: :string, input_html:{ value: advertisement_filters_params(:card_number) }

    = f.input :direction, collection: ['Deposit', 'Withdrawal'], include_blank: 'Все',
                       selected: advertisement_filters_params(:direction) 

    = f.input :national_currency, collection: NationalCurrency.pluck(:name), include_blank: 'Все',
                       selected: advertisement_filters_params(:national_currency)

    = f.input :payment_system, collection: PaymentSystem.pluck(:name), include_blank: 'Все',
                       selected: advertisement_filters_params(:payment_system) 

    = f.input :processer, collection: processers_collection, include_blank: 'Все',
                       selected: advertisement_filters_params(:processer) if management_namespace?

    - if role_namespace == 'processers'
      = f.input :card_owner_name, as: :string, input_html: { value: advertisement_filters_params(:card_owner_name) }
      = f.input :simbank_card_number, as: :string, input_html: { value: advertisement_filters_params(:simbank_card_number) }

  = f.submit t('buttons.submit'), class: 'form-submit'
  = link_to t('buttons.reset'), advertisements_path, data: { turbo_action: :advance }, class: 'reset-button'
