= turbo_frame_tag 'content' do
  %section.wrap
    .card-wrap
      .item-card
        %h1.mb-4 Фильтры
        = render 'shared/staff/payments/filter', payments: @payments

        = render 'shared/pagination', pagy: @arbitration_payments_pagy
    .card-wrap
      .item-card
        %h1.mb-4 На арбитраже
        = render 'table', payments: @arbitration_payments

        = render 'shared/pagination', pagy: @arbitration_payments_pagy
    .card-wrap
      .item-card
        %h1.mb-4 Все платежи
        = render 'table', payments: @payments

        = render 'shared/pagination', pagy: @pagy