- content_for :main_container do
  .with-sidebar
    %aside
      .sticky-menu
        %ul
          %li
            = link_to users_settings_path, class: action_active?('settings') do
              = fa_icon 'user'
              %span= t('users.sidebar.settings')
    %section
      .devise_container
        = yield

= render template: 'layouts/application'
