.alerts-block
  .text-red.font-semibold
    = "#{t('payments.deposit.attributes.attention')}:"
  .my-0.5 
    1) #{t('payments.deposit.attributes.paragraph_1')}
  .my-4
    2) #{t('payments.deposit.attributes.paragraph_2')}
  .my-4 
    3) #{t('payments.deposit.attributes.paragraph_3')}
