= form_with model: @mask, url: @mask.new_record? ? masks_path : mask_path(@mask), method: @mask.new_record? ? :post : :patch do |form|
  .field
    = form.label :name
    = form.text_field :name, class: 'form-control'

  .field
    = form.label :sms_mask
    = form.text_field :sms_mask, class: 'form-control'

  .field
    = form.label :push_mask
    = form.text_field :push_mask, class: 'form-control'

  = form.submit 'Сохранить', class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded'