= simple_form_for @mask do |f|
  = f.input :sender, hint: 'как в СМС, напр. 900 или Tinkoff'
  = f.input :regexp_type, collection: ["Номер счёта", "Сумма"], include_blank: '-выбрать-'
  = f.input :regexp, hint: 'Указывать со слешами в начале и в конце, например: /\*(\d{4})/', placeholder: '/\*(\d{4})/'
  = f.submit 'Сохранить', class: 'form-submit'