%section.wrap
  .card-wrap
    .item-card
      .card-head
        %h1 Маски

      = link_to "Создать маску", new_mask_path, class: "bg-blue-500 text-white px-4 py-2 rounded"

      %table.items-list-table.mt-3
        %thead.items-list-thead
          %tr
            %th.items-list-th-mask-id ID
            %th.items-list-th Отправитель
            %th.items-list-th-mask-type Тип регулярного выражения
            %th.items-list-th Регулярное выражение
            %th.items-list-th Разделитель тысяч
            %th.items-list-th Дробный разделитель
            %th.items-list-th
        %tbody
          - @masks.each do |mask|
            %tr
              %td.items-list-td-link
                = link_to mask.id, mask_path(mask), data: { turbo_action: :advance }
              %td.items-list-td= mask.sender            
              %td.items-list-td= mask.regexp_type
              %td.items-list-td
                %pre= mask.regexp
              %td.items-list-td.font-bold= mask.thousands_separator
              %td.items-list-td.font-bold= mask.decimal_separator
              %td.items-list-td.px-1.w-0
                = link_to mask, data: { turbo_confirm: 'Вы уверены что хотите удалить маску?', turbo_method: :delete }  do
                  .icon-button-red
                    = fa_icon 'trash'
              %td.items-list-td.px-1.w-0
                = link_to edit_mask_path(mask) do
                  .icon-button
                    = fa_icon 'pencil'
              %td.items-list-td.px-1.w-0
                = link_to mask do
                  .icon-button-gray
                    = fa_icon 'search'
      .card-wrap
        = render 'shared/pagination', pagy: @pagy
