%section.wrap
  .card-wrap
    .item-card
      .flex.mb-4.items-center
        .text-xl
          Создать новую маску

      = simple_form_for @mask, url: masks_path do |f|
        = f.input :regexp_type, collection: ["Номер счёта", "Сумма"], include_blank: '-выбрать-'
        = f.input :regexp
        = f.submit "Сохранить", class: "mt-4 bg-blue-500 text-white px-4 py-2 rounded"
      .back-link
        = link_to '<- К списку масок', masks_path
